<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/trackerinfo.css">
    <title>Document</title>
</head>

<body>
    <span style="width:250px; float: right;"> <a href="/logout">logout</a></span>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="color:#166d5b" href="./{{trackerid}}">{{trackername}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="./" style="color:#166d5b">{{ username }} <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trackertype/create" style="color:#166d5b">new tracker</a>
                </li>
            </ul>
        </div>
    </nav>

    <table id="all-tracker" class="content-table">
        {% if not empt %}
        <thead>

            <tr>
                <th>Tracker</th>
                <th>Last tracked</th>
                <th></th>
                <th></th>
                <th>Actions</th>
            </tr>
        </thead>
        {% endif %}
        {% for tracker in Trackertype%}
        <tr class="active-row">
            <td><a href='/trackertype/{{tracker["trackerID"]}}'>{{tracker["Name"]}}</a></td>
            <td>{{tracker["Description"]}}</td>
            <td>{{tracker["setting"]}}</td>

            <td><a href='/trackertype/{{tracker["Name"]}}/create'>+</a></td>
            <td>
                <a href="/trackertype/{{tracker['trackerID']}}/update" type="button">Update</a>
                <a href="/trackertype/{{tracker['Name']}}/delete" type="button">Delete</a>
            </td>
        </tr>
        {% endfor %}
        {% if empt %}
        No tracker found found.Add tracker now!
        {% endif %}
        <tr>
            <td colspan="5" style="text-align: center"> <a href="/trackertype/create">+ Add tracker</a>
            </td>
        </tr>
    </table>

</body>

</html>