<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            toggleFields(); // call this first so we start out with the correct visibility depending on the selected form values
            // this will call our toggleFields function every time the selection value of our other field changes
            $("#dbType").change(function () {
                toggleFields();
            });

        });
        // this toggles the visibility of other server
        function toggleFields() {
            if ($("#dbType").val() === "other")
                $("#otherServer").show();
            else
                $("#otherServer").hide();
        }
    </script>
</head>

<body>
    <span style="width:250px; float: right;"> <a href="/logout">logout</a></span>
    <p>Choose type</p>
    <p>Server:
        <select id="dbType" name="dbType">
            <option>Choose Database Type</option>
            <option value="oracle">Oracle</option>
            <option value="mssql">MS SQL</option>
            <option value="mysql">MySQL</option>
            <option value="other">Other</option>
        </select>
    </p>
    <div id="otherServer">
        <p>Server:
            <input type="text" name="server_name" />
        </p>
        <p>Port:
            <input type="text" name="port_no" />
        </p>
    </div>
    <p align="center">
        <input type="submit" value="Submit!" />
    </p>

</body>

</html>